<!DOCTYPE html>
<html>
  <head>
    <title>RubyKnock</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_bundle_tag "#{params[:controller]}#{params[:action].capitalize}" %>
    <%= stylesheet_bundle_tag "#{params[:controller]}#{params[:action].capitalize}" %>
  </head>

  <body>
  <div id="app">
    <%= yield %>
  </div>
  </body>
</html>

